In [6]:
import pandas as pd

from google.colab import files
uploaded = files.upload()

Saving dataset_Facebook.csv to dataset_Facebook.csv

In [7]:
import pandas as pd
import io
  
df = pd.read_csv(io.BytesIO(uploaded['dataset_Facebook.csv']),sep = ';')
#print(df)

df.head(5)

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393

In [20]:
help(pd.read_csv)

Help on function read_csv in module pandas.io.parsers.readers:

read_csv(filepath_or_buffer: 'FilePathOrBuffer', sep=<no_default>, delimiter=None, header='infer', names=<no_default>, index_col=None, usecols=None, squeeze=False, prefix=<no_default>, mangle_dupe_cols=True, dtype: 'DtypeArg | None' = None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, skipfooter=0, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, cache_dates=True, iterator=False, chunksize=None, compression='infer', thousands=None, decimal: 'str' = '.', lineterminator=None, quotechar='"', quoting=0, doublequote=True, escapechar=None, comment=None, encoding=None, encoding_errors: 'str | None' = 'strict', dialect=None, error_bad_lines=None, warn_bad_lines=None, on_bad_lines=None, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None, storage_options: 'StorageOptions' = None)
    Read a comma-separated values (csv) file into DataFrame.

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the online docs for
    `IO Tools <https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, path object or file-like object
        Any valid string path is acceptable. The string could be a URL. Valid
        URL schemes include http, ftp, s3, gs, and file. For file URLs, a host is
        expected. A local file could be: file://localhost/path/to/table.csv.

        If you want to pass in a path object, pandas accepts any ``os.PathLike``.

        By file-like object, we refer to objects with a ``read()`` method, such as
        a file handle (e.g. via builtin ``open`` function) or ``StringIO``.
    sep : str, default ','
        Delimiter to use. If sep is None, the C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used and automatically detect the separator by Python's builtin sniffer
        tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
        different from ``'\s+'`` will be interpreted as regular expressions and
        will also force the use of the Python parsing engine. Note that regex
        delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``.
    delimiter : str, default ``None``
        Alias for sep.
    header : int, list of int, default 'infer'
        Row number(s) to use as the column names, and the start of the
        data.  Default behavior is to infer the column names: if no names
        are passed the behavior is identical to ``header=0`` and column
        names are inferred from the first line of the file, if column
        names are passed explicitly then the behavior is identical to
        ``header=None``. Explicitly pass ``header=0`` to be able to
        replace existing names. The header can be a list of integers that
        specify row locations for a multi-index on the columns
        e.g. [0,1,3]. Intervening rows that are not specified will be
        skipped (e.g. 2 in this example is skipped). Note that this
        parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
        data rather than the first line of the file.
    names : array-like, optional
        List of column names to use. If the file contains a header row,
        then you should explicitly pass ``header=0`` to override the column names.
        Duplicates in this list are not allowed.
    index_col : int, str, sequence of int / str, or False, default ``None``
      Column(s) to use as the row labels of the ``DataFrame``, either given as
      string name or column index. If a sequence of int / str is given, a
      MultiIndex is used.

      Note: ``index_col=False`` can be used to force pandas to *not* use the first
      column as the index, e.g. when you have a malformed file with delimiters at
      the end of each line.
    usecols : list-like or callable, optional
        Return a subset of the columns. If list-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in `names` or
        inferred from the document header row(s). For example, a valid list-like
        `usecols` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
        Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
        To instantiate a DataFrame from ``data`` with element order preserved use
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]`` for columns
        in ``['foo', 'bar']`` order or
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
        for ``['bar', 'foo']`` order.

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to True. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    squeeze : bool, default False
        If the parsed data only contains one column then return a Series.
    prefix : str, optional
        Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...
    mangle_dupe_cols : bool, default True
        Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
        'X'...'X'. Passing in False will cause data to be overwritten if there
        are duplicate names in the columns.
    dtype : Type name or dict of column -> type, optional
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32,
        'c': 'Int64'}
        Use `str` or `object` together with suitable `na_values` settings
        to preserve and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.
    engine : {'c', 'python'}, optional
        Parser engine to use. The C engine is faster while the python engine is
        currently more feature-complete.
    converters : dict, optional
        Dict of functions for converting values in certain columns. Keys can either
        be integers or column labels.
    true_values : list, optional
        Values to consider as True.
    false_values : list, optional
        Values to consider as False.
    skipinitialspace : bool, default False
        Skip spaces after delimiter.
    skiprows : list-like, int or callable, optional
        Line numbers to skip (0-indexed) or number of lines to skip (int)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning True if the row should be skipped and False otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with engine='c').
    nrows : int, optional
        Number of rows of file to read. Useful for reading pieces of large files.
    na_values : scalar, str, list-like, or dict, optional
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values.  By default the following values are interpreted as
        NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', '<NA>', 'N/A', 'NA', 'NULL', 'NaN', 'n/a',
        'nan', 'null'.
    keep_default_na : bool, default True
        Whether or not to include the default NaN values when parsing the data.
        Depending on whether `na_values` is passed in, the behavior is as follows:

        * If `keep_default_na` is True, and `na_values` are specified, `na_values`
          is appended to the default NaN values used for parsing.
        * If `keep_default_na` is True, and `na_values` are not specified, only
          the default NaN values are used for parsing.
        * If `keep_default_na` is False, and `na_values` are specified, only
          the NaN values specified `na_values` are used for parsing.
        * If `keep_default_na` is False, and `na_values` are not specified, no
          strings will be parsed as NaN.

        Note that if `na_filter` is passed in as False, the `keep_default_na` and
        `na_values` parameters will be ignored.
    na_filter : bool, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file.
    verbose : bool, default False
        Indicate number of NA values placed in non-numeric columns.
    skip_blank_lines : bool, default True
        If True, skip over blank lines rather than interpreting as NaN values.
    parse_dates : bool or list of int or names or list of lists or dict, default False
        The behavior is as follows:

        * boolean. If True -> try parsing the index.
        * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
          result 'foo'

        If a column or index cannot be represented as an array of datetimes,
        say because of an unparsable value or a mixture of timezones, the column
        or index will be returned unaltered as an object data type. For
        non-standard datetime parsing, use ``pd.to_datetime`` after
        ``pd.read_csv``. To parse an index or column with a mixture of timezones,
        specify ``date_parser`` to be a partially-applied
        :func:`pandas.to_datetime` with ``utc=True``. See
        :ref:`io.csv.mixed_timezones` for more.

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : bool, default False
        If True and `parse_dates` is enabled, pandas will attempt to infer the
        format of the datetime strings in the columns, and if it can be inferred,
        switch to a faster method of parsing them. In some cases this can increase
        the parsing speed by 5-10x.
    keep_date_col : bool, default False
        If True and `parse_dates` specifies combining multiple columns then
        keep the original columns.
    date_parser : function, optional
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call `date_parser` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by `parse_dates` into a single array
        and pass that; and 3) call `date_parser` once for each row using one or
        more strings (corresponding to the columns defined by `parse_dates`) as
        arguments.
    dayfirst : bool, default False
        DD/MM format dates, international and European format.
    cache_dates : bool, default True
        If True, use a cache of unique, converted dates to apply the datetime
        conversion. May produce significant speed-up when parsing duplicate
        date strings, especially ones with timezone offsets.

        .. versionadded:: 0.25.0
    iterator : bool, default False
        Return TextFileReader object for iteration or getting chunks with
        ``get_chunk()``.

        .. versionchanged:: 1.2

           ``TextFileReader`` is a context manager.
    chunksize : int, optional
        Return TextFileReader object for iteration.
        See the `IO Tools docs
        <https://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.

        .. versionchanged:: 1.2

           ``TextFileReader`` is a context manager.
    compression : {'infer', 'gzip', 'bz2', 'zip', 'xz', None}, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer' and
        `filepath_or_buffer` is path-like, then detect compression from the
        following extensions: '.gz', '.bz2', '.zip', or '.xz' (otherwise no
        decompression). If using 'zip', the ZIP file must contain only one data
        file to be read in. Set to None for no decompression.
    thousands : str, optional
        Thousands separator.
    decimal : str, default '.'
        Character to recognize as decimal point (e.g. use ',' for European data).
    lineterminator : str (length 1), optional
        Character to break file into lines. Only valid with C parser.
    quotechar : str (length 1), optional
        The character used to denote the start and end of a quoted item. Quoted
        items can include the delimiter and it will be ignored.
    quoting : int or csv.QUOTE_* instance, default 0
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
        QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
    doublequote : bool, default ``True``
       When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive quotechar elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), optional
        One-character string used to escape other characters.
    comment : str, optional
        Indicates remainder of line should not be parsed. If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter `header` but not by
        `skiprows`. For example, if ``comment='#'``, parsing
        ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in 'a,b,c' being
        treated as the header.
    encoding : str, optional
        Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .

        .. versionchanged:: 1.2

           When ``encoding`` is ``None``, ``errors="replace"`` is passed to
           ``open()``. Otherwise, ``errors="strict"`` is passed to ``open()``.
           This behavior was previously only the case for ``engine="python"``.

        .. versionchanged:: 1.3.0

           ``encoding_errors`` is a new argument. ``encoding`` has no longer an
           influence on how encoding errors are handled.

    encoding_errors : str, optional, default "strict"
        How encoding errors are treated. `List of possible values
        <https://docs.python.org/3/library/codecs.html#error-handlers>`_ .

        .. versionadded:: 1.3.0

    dialect : str or csv.Dialect, optional
        If provided, this parameter will override values (default or not) for the
        following parameters: `delimiter`, `doublequote`, `escapechar`,
        `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
        override values, a ParserWarning will be issued. See csv.Dialect
        documentation for more details.
    error_bad_lines : bool, default ``None``
        Lines with too many fields (e.g. a csv line with too many commas) will by
        default cause an exception to be raised, and no DataFrame will be returned.
        If False, then these "bad lines" will be dropped from the DataFrame that is
        returned.

        .. deprecated:: 1.3.0
           The ``on_bad_lines`` parameter should be used instead to specify behavior upon
           encountering a bad line instead.
    warn_bad_lines : bool, default ``None``
        If error_bad_lines is False, and warn_bad_lines is True, a warning for each
        "bad line" will be output.

        .. deprecated:: 1.3.0
           The ``on_bad_lines`` parameter should be used instead to specify behavior upon
           encountering a bad line instead.
    on_bad_lines : {'error', 'warn', 'skip'}, default 'error'
        Specifies what to do upon encountering a bad line (a line with too many fields).
        Allowed values are :

            - 'error', raise an Exception when a bad line is encountered.
            - 'warn', raise a warning when a bad line is encountered and skip that line.
            - 'skip', skip bad lines without raising or warning when they are encountered.

        .. versionadded:: 1.3.0

    delim_whitespace : bool, default False
        Specifies whether or not whitespace (e.g. ``' '`` or ``'    '``) will be
        used as the sep. Equivalent to setting ``sep='\s+'``. If this option
        is set to True, nothing should be passed in for the ``delimiter``
        parameter.
    low_memory : bool, default True
        Internally process the file in chunks, resulting in lower memory use
        while parsing, but possibly mixed type inference.  To ensure no mixed
        types either set False, or specify the type with the `dtype` parameter.
        Note that the entire file is read into a single DataFrame regardless,
        use the `chunksize` or `iterator` parameter to return the data in chunks.
        (Only valid with C parser).
    memory_map : bool, default False
        If a filepath is provided for `filepath_or_buffer`, map the file object
        directly onto memory and access the data directly from there. Using this
        option can improve performance because there is no longer any I/O overhead.
    float_precision : str, optional
        Specifies which converter the C engine should use for floating-point
        values. The options are ``None`` or 'high' for the ordinary converter,
        'legacy' for the original lower precision pandas converter, and
        'round_trip' for the round-trip converter.

        .. versionchanged:: 1.2

    storage_options : dict, optional
        Extra options that make sense for a particular storage connection, e.g.
        host, port, username, password, etc. For HTTP(S) URLs the key-value pairs
        are forwarded to ``urllib`` as header options. For other URLs (e.g.
        starting with "s3://", and "gcs://") the key-value pairs are forwarded to
        ``fsspec``. Please see ``fsspec`` and ``urllib`` for more details.

        .. versionadded:: 1.2

    Returns
    -------
    DataFrame or TextParser
        A comma-separated values (csv) file is returned as two-dimensional
        data structure with labeled axes.

    See Also
    --------
    DataFrame.to_csv : Write DataFrame to a comma-separated values (csv) file.
    read_csv : Read a comma-separated values (csv) file into DataFrame.
    read_fwf : Read a table of fixed-width formatted lines into DataFrame.

    Examples
    --------
    >>> pd.read_csv('data.csv')  # doctest: +SKIP

In [21]:
df['Type']
video_sub=df['Type']
video_sub

0       Photo
1      Status
2       Photo
3       Photo
4       Photo
        ...
495     Photo
496     Photo
497     Photo
498     Photo
499     Photo
Name: Type, Length: 500, dtype: object

In [22]:
print(df.columns)

Index(['Page total likes', 'Type', 'Category', 'Post Month', 'Post Weekday',
       'Post Hour', 'Paid', 'Lifetime Post Total Reach',
       'Lifetime Post Total Impressions', 'Lifetime Engaged Users',
       'Lifetime Post Consumers', 'Lifetime Post Consumptions',
       'Lifetime Post Impressions by people who have liked your Page',
       'Lifetime Post reach by people who like your Page',
       'Lifetime People who have liked your Page and engaged with your post',
       'comment', 'like', 'share', 'Total Interactions'],
      dtype='object')

In [23]:
df[['Type','Category']]

       Type  Category
0     Photo         2
1    Status         2
2     Photo         3
3     Photo         2
4     Photo         2
..      ...       ...
495   Photo         3
496   Photo         2
497   Photo         1
498   Photo         3
499   Photo         2

[500 rows x 2 columns]

In [25]:
Bydf_subset = df[['like','share']]

print(Bydf_subset)

       like  share
0      79.0   17.0
1     130.0   29.0
2      66.0   14.0
3    1572.0  147.0
4     325.0   49.0
..      ...    ...
495    53.0   26.0
496    53.0   22.0
497    93.0   18.0
498    91.0   38.0
499    91.0   28.0

[500 rows x 2 columns]

In [26]:
Hydf_subset1 = df[df['like']>100]

print(Hydf_subset1)

     Page total likes    Type  Category  Post Month  Post Weekday  Post Hour  \
1              139441  Status         2          12             3         10
3              139441   Photo         2          12             2         10
4              139441   Photo         2          12             2          3
5              139441  Status         2          12             1          9
6              139441   Photo         3          12             1          3
..                ...     ...       ...         ...           ...        ...
488             85979   Photo         3           1             7         10
491             85979   Photo         3           1             6          3
492             85979    Link         1           1             5         11
493             85093   Photo         3           1             1          2
494             85093   Photo         3           1             7         10

     Paid  Lifetime Post Total Reach  Lifetime Post Total Impressions  \
1     0.0                      10460                            19057
3     1.0                      50128                            87991
4     0.0                       7244                            13594
5     0.0                      10472                            20849
6     1.0                      11692                            19479
..    ...                        ...                              ...
488   0.0                       9700                            17442
491   1.0                       6184                            10228
492   0.0                      45920                             5808
493   0.0                       8412                            13960
494   0.0                       5400                             9218

     Lifetime Engaged Users  Lifetime Post Consumers  \
1                      1457                     1361
3                      2211                      790
4                       671                      410
5                      1191                     1073
6                       481                      265
..                      ...                      ...
488                    1407                     1271
491                     956                      901
492                     753                      655
493                    1179                     1111
494                     810                      756

     Lifetime Post Consumptions  \
1                          1674
3                          1119
4                           580
5                          1389
6                           364
..                          ...
488                        2007
491                        1140
492                         763
493                        1632
494                        1003

     Lifetime Post Impressions by people who have liked your Page  \
1                                                11710
3                                                61027
4                                                 6228
5                                                16034
6                                                15432
..                                                 ...
488                                               8872
491                                               6085
492                                              15766
493                                               8632
494                                               5654

     Lifetime Post reach by people who like your Page  \
1                                                6112
3                                               32048
4                                                3200
5                                                7852
6                                                9328
..                                                ...
488                                              4876
491                                              3502
492                                             10720
493                                              5348
494                                              3230

     Lifetime People who have liked your Page and engaged with your post  \
1                                                 1108
3                                                 1386
4                                                  396
5                                                 1016
6                                                  379
..                                                 ...
488                                                660
491                                                437
492                                                220
493                                                699
494                                                422

     comment    like  share  Total Interactions
1          5   130.0   29.0                 164
3         58  1572.0  147.0                1777
4         19   325.0   49.0                 393
5          1   152.0   33.0                 186
6          3   249.0   27.0                 279
..       ...     ...    ...                 ...
488       21   277.0   80.0                 378
491        1   105.0   46.0                 152
492        0   128.0    9.0                 137
493       17   185.0   55.0                 257
494       10   125.0   41.0                 176

[252 rows x 19 columns]

In [27]:
df.loc[1]

Page total likes                                                       139441
Type                                                                   Status
Category                                                                    2
Post Month                                                                 12
Post Weekday                                                                3
Post Hour                                                                  10
Paid                                                                      0.0
Lifetime Post Total Reach                                               10460
Lifetime Post Total Impressions                                         19057
Lifetime Engaged Users                                                   1457
Lifetime Post Consumers                                                  1361
Lifetime Post Consumptions                                               1674
Lifetime Post Impressions by people who have liked your Page            11710
Lifetime Post reach by people who like your Page                         6112
Lifetime People who have liked your Page and engaged with your post      1108
comment                                                                     5
like                                                                    130.0
share                                                                    29.0
Total Interactions                                                        164
Name: 1, dtype: object

In [28]:
df.loc[[1,5,7]]

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
5,139441,Status,2,12,1,9,0.0,10472,20849,1191,1073,1389,16034,7852,1016,1,152.0,33.0,186
7,139441,Photo,3,12,7,9,1.0,13720,24137,537,232,305,19728,11056,422,0,325.0,14.0,339

In [29]:
df.loc[1:7,['like','share']]

     like  share
1   130.0   29.0
2    66.0   14.0
3  1572.0  147.0
4   325.0   49.0
5   152.0   33.0
6   249.0   27.0
7   325.0   14.0

In [30]:
df.sort_values(by = "like",ascending= False)

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
244,130791,Photo,2,7,3,5,1.0,180480,319133,8072,4010,6242,108752,51456,3316,372,5172.0,790.0,6334
379,111620,Photo,3,4,1,14,1.0,105632,147918,3984,2254,3391,48575,27328,1936,51,1998.0,128.0,2177
349,117764,Photo,3,5,5,13,0.0,81856,124753,3000,1637,2718,52477,27392,1756,45,1639.0,122.0,1806
168,135428,Photo,1,9,3,10,0.0,41984,68290,3370,2420,4074,34802,20928,2126,144,1622.0,208.0,1974
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21,138414,Photo,1,12,7,10,0.0,1384,2467,15,15,20,2196,1172,15,0,0.0,0.0,0
100,137020,Photo,1,10,4,9,1.0,1357,2453,37,37,55,2154,1120,32,0,0.0,0.0,0
441,98195,Photo,1,3,5,4,1.0,1845,2670,9,9,9,1614,1008,9,0,0.0,0.0,0
417,104070,Photo,1,3,3,10,0.0,1874,2474,25,25,31,1483,1062,15,0,0.0,0.0,0
111,136736,Photo,1,10,6,8,0.0,1261,2158,37,37,49,1911,1077,33,0,NaN,NaN,0

In [31]:
df.sort_values("like")

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
21,138414,Photo,1,12,7,10,0.0,1384,2467,15,15,20,2196,1172,15,0,0.0,0.0,0
417,104070,Photo,1,3,3,10,0.0,1874,2474,25,25,31,1483,1062,15,0,0.0,0.0,0
100,137020,Photo,1,10,4,9,1.0,1357,2453,37,37,55,2154,1120,32,0,0.0,0.0,0
76,137893,Photo,1,11,3,2,0.0,1228,2392,17,17,19,2392,1228,17,0,0.0,0.0,0
441,98195,Photo,1,3,5,4,1.0,1845,2670,9,9,9,1614,1008,9,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,135428,Photo,1,9,3,10,0.0,41984,68290,3370,2420,4074,34802,20928,2126,144,1622.0,208.0,1974
349,117764,Photo,3,5,5,13,0.0,81856,124753,3000,1637,2718,52477,27392,1756,45,1639.0,122.0,1806
379,111620,Photo,3,4,1,14,1.0,105632,147918,3984,2254,3391,48575,27328,1936,51,1998.0,128.0,2177
244,130791,Photo,2,7,3,5,1.0,180480,319133,8072,4010,6242,108752,51456,3316,372,5172.0,790.0,6334
111,136736,Photo,1,10,6,8,0.0,1261,2158,37,37,49,1911,1077,33,0,NaN,NaN,0

In [32]:
df.sort_values(by = "like",ascending= False, kind="mergesort")

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
244,130791,Photo,2,7,3,5,1.0,180480,319133,8072,4010,6242,108752,51456,3316,372,5172.0,790.0,6334
379,111620,Photo,3,4,1,14,1.0,105632,147918,3984,2254,3391,48575,27328,1936,51,1998.0,128.0,2177
349,117764,Photo,3,5,5,13,0.0,81856,124753,3000,1637,2718,52477,27392,1756,45,1639.0,122.0,1806
168,135428,Photo,1,9,3,10,0.0,41984,68290,3370,2420,4074,34802,20928,2126,144,1622.0,208.0,1974
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,137893,Photo,1,11,3,2,0.0,1228,2392,17,17,19,2392,1228,17,0,0.0,0.0,0
100,137020,Photo,1,10,4,9,1.0,1357,2453,37,37,55,2154,1120,32,0,0.0,0.0,0
417,104070,Photo,1,3,3,10,0.0,1874,2474,25,25,31,1483,1062,15,0,0.0,0.0,0
441,98195,Photo,1,3,5,4,1.0,1845,2670,9,9,9,1614,1008,9,0,0.0,0.0,0
111,136736,Photo,1,10,6,8,0.0,1261,2158,37,37,49,1911,1077,33,0,NaN,NaN,0

In [34]:
df.sort_values(by=["like", "share"])

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
21,138414,Photo,1,12,7,10,0.0,1384,2467,15,15,20,2196,1172,15,0,0.0,0.0,0
76,137893,Photo,1,11,3,2,0.0,1228,2392,17,17,19,2392,1228,17,0,0.0,0.0,0
100,137020,Photo,1,10,4,9,1.0,1357,2453,37,37,55,2154,1120,32,0,0.0,0.0,0
417,104070,Photo,1,3,3,10,0.0,1874,2474,25,25,31,1483,1062,15,0,0.0,0.0,0
441,98195,Photo,1,3,5,4,1.0,1845,2670,9,9,9,1614,1008,9,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,135428,Photo,1,9,3,10,0.0,41984,68290,3370,2420,4074,34802,20928,2126,144,1622.0,208.0,1974
349,117764,Photo,3,5,5,13,0.0,81856,124753,3000,1637,2718,52477,27392,1756,45,1639.0,122.0,1806
379,111620,Photo,3,4,1,14,1.0,105632,147918,3984,2254,3391,48575,27328,1936,51,1998.0,128.0,2177
244,130791,Photo,2,7,3,5,1.0,180480,319133,8072,4010,6242,108752,51456,3316,372,5172.0,790.0,6334
111,136736,Photo,1,10,6,8,0.0,1261,2158,37,37,49,1911,1077,33,0,NaN,NaN,0

In [35]:
Byresult = df.transpose()
print(Byresult)

                                                       0       1       2    \
Page total likes                                    139441  139441  139441
Type                                                 Photo  Status   Photo
Category                                                 2       2       3
Post Month                                              12      12      12
Post Weekday                                             4       3       3
Post Hour                                                3      10       3
Paid                                                   0.0     0.0     0.0
Lifetime Post Total Reach                             2752   10460    2413
Lifetime Post Total Impressions                       5091   19057    4373
Lifetime Engaged Users                                 178    1457     177
Lifetime Post Consumers                                109    1361     113
Lifetime Post Consumptions                             159    1674     154
Lifetime Post Impressions by people who have li...    3078   11710    2812
Lifetime Post reach by people who like your Page      1640    6112    1503
Lifetime People who have liked your Page and en...     119    1108     132
comment                                                  4       5       0
like                                                  79.0   130.0    66.0
share                                                 17.0    29.0    14.0
Total Interactions                                     100     164      80

                                                       3       4       5    \
Page total likes                                    139441  139441  139441
Type                                                 Photo   Photo  Status
Category                                                 2       2       2
Post Month                                              12      12      12
Post Weekday                                             2       2       1
Post Hour                                               10       3       9
Paid                                                   1.0     0.0     0.0
Lifetime Post Total Reach                            50128    7244   10472
Lifetime Post Total Impressions                      87991   13594   20849
Lifetime Engaged Users                                2211     671    1191
Lifetime Post Consumers                                790     410    1073
Lifetime Post Consumptions                            1119     580    1389
Lifetime Post Impressions by people who have li...   61027    6228   16034
Lifetime Post reach by people who like your Page     32048    3200    7852
Lifetime People who have liked your Page and en...    1386     396    1016
comment                                                 58      19       1
like                                                1572.0   325.0   152.0
share                                                147.0    49.0    33.0
Total Interactions                                    1777     393     186

                                                       6       7       8    \
Page total likes                                    139441  139441  139441
Type                                                 Photo   Photo  Status
Category                                                 3       3       2
Post Month                                              12      12      12
Post Weekday                                             1       7       7
Post Hour                                                3       9       3
Paid                                                   1.0     1.0     0.0
Lifetime Post Total Reach                            11692   13720   11844
Lifetime Post Total Impressions                      19479   24137   22538
Lifetime Engaged Users                                 481     537    1530
Lifetime Post Consumers                                265     232    1407
Lifetime Post Consumptions                             364     305    1692
Lifetime Post Impressions by people who have li...   15432   19728   15220
Lifetime Post reach by people who like your Page      9328   11056    7912
Lifetime People who have liked your Page and en...     379     422    1250
comment                                                  3       0       0
like                                                 249.0   325.0   161.0
share                                                 27.0    14.0    31.0
Total Interactions                                     279     339     192

                                                       9    ...    490    491  \
Page total likes                                    139441  ...  85979  85979
Type                                                 Photo  ...  Photo  Photo
Category                                                 3  ...      3      3
Post Month                                              12  ...      1      1
Post Weekday                                             6  ...      6      6
Post Hour                                               10  ...     11      3
Paid                                                   0.0  ...    0.0    1.0
Lifetime Post Total Reach                             4694  ...   5280   6184
Lifetime Post Total Impressions                       8668  ...   8703  10228
Lifetime Engaged Users                                 280  ...    951    956
Lifetime Post Consumers                                183  ...    911    901
Lifetime Post Consumptions                             250  ...   1237   1140
Lifetime Post Impressions by people who have li...    4309  ...   5757   6085
Lifetime Post reach by people who like your Page      2324  ...   3300   3502
Lifetime People who have liked your Page and en...     199  ...    431    437
comment                                                  3  ...      1      1
like                                                 113.0  ...   79.0  105.0
share                                                 26.0  ...   30.0   46.0
Total Interactions                                     142  ...    110    152

                                                      492    493    494  \
Page total likes                                    85979  85093  85093
Type                                                 Link  Photo  Photo
Category                                                1      3      3
Post Month                                              1      1      1
Post Weekday                                            5      1      7
Post Hour                                              11      2     10
Paid                                                  0.0    0.0    0.0
Lifetime Post Total Reach                           45920   8412   5400
Lifetime Post Total Impressions                      5808  13960   9218
Lifetime Engaged Users                                753   1179    810
Lifetime Post Consumers                               655   1111    756
Lifetime Post Consumptions                            763   1632   1003
Lifetime Post Impressions by people who have li...  15766   8632   5654
Lifetime Post reach by people who like your Page    10720   5348   3230
Lifetime People who have liked your Page and en...    220    699    422
comment                                                 0     17     10
like                                                128.0  185.0  125.0
share                                                 9.0   55.0   41.0
Total Interactions                                    137    257    176

                                                      495    496    497  \
Page total likes                                    85093  81370  81370
Type                                                Photo  Photo  Photo
Category                                                3      2      1
Post Month                                              1      1      1
Post Weekday                                            7      5      5
Post Hour                                               2      8      2
Paid                                                  0.0    0.0    0.0
Lifetime Post Total Reach                            4684   3480   3778
Lifetime Post Total Impressions                      7536   6229   7216
Lifetime Engaged Users                                733    537    625
Lifetime Post Consumers                               708    508    572
Lifetime Post Consumptions                            985    687    795
Lifetime Post Impressions by people who have li...   4750   3961   4742
Lifetime Post reach by people who like your Page     2876   2104   2388
Lifetime People who have liked your Page and en...    392    301    363
comment                                                 5      0      4
like                                                 53.0   53.0   93.0
share                                                26.0   22.0   18.0
Total Interactions                                     84     75    115

                                                      498    499
Page total likes                                    81370  81370
Type                                                Photo  Photo
Category                                                3      2
Post Month                                              1      1
Post Weekday                                            4      4
Post Hour                                              11      4
Paid                                                  0.0    NaN
Lifetime Post Total Reach                            4156   4188
Lifetime Post Total Impressions                      7564   7292
Lifetime Engaged Users                                626    564
Lifetime Post Consumers                               574    524
Lifetime Post Consumptions                            832    743
Lifetime Post Impressions by people who have li...   4534   3861
Lifetime Post reach by people who like your Page     2452   2200
Lifetime People who have liked your Page and en...    370    316
comment                                                 7      0
like                                                 91.0   91.0
share                                                38.0   28.0
Total Interactions                                    136    119

[19 rows x 500 columns]

In [36]:
df.shape

(500, 19)

For shape

In [37]:
selective_df = pd.DataFrame(df,columns =['like','share','Category','Type'])

selective_df.head(5)

     like  share  Category    Type
0    79.0   17.0         2   Photo
1   130.0   29.0         2  Status
2    66.0   14.0         3   Photo
3  1572.0  147.0         2   Photo
4   325.0   49.0         2   Photo

In [38]:
pivot_table = pd.pivot_table(selective_df,index= ['Category','like'])

print(pivot_table)

                      share
Category like
1        0.0       0.000000
         1.0       2.000000
         2.0       0.000000
         3.0       0.666667
         4.0       1.000000
...                     ...
3        1155.0  102.000000
         1372.0   47.000000
         1546.0  181.000000
         1639.0  122.000000
         1998.0  128.000000

[368 rows x 1 columns]

In [39]:
pivot_table.shape

(368, 1)

In [40]:
pivot_table.reset_index(inplace=True)

pivot_table

     Category    like       share
0           1     0.0    0.000000
1           1     1.0    2.000000
2           1     2.0    0.000000
3           1     3.0    0.666667
4           1     4.0    1.000000
..        ...     ...         ...
363         3  1155.0  102.000000
364         3  1372.0   47.000000
365         3  1546.0  181.000000
366         3  1639.0  122.000000
367         3  1998.0  128.000000

[368 rows x 3 columns]

In [41]:
pivot_table.melt(id_vars=['like','share'])

       like       share  variable  value
0       0.0    0.000000  Category      1
1       1.0    2.000000  Category      1
2       2.0    0.000000  Category      1
3       3.0    0.666667  Category      1
4       4.0    1.000000  Category      1
..      ...         ...       ...    ...
363  1155.0  102.000000  Category      3
364  1372.0   47.000000  Category      3
365  1546.0  181.000000  Category      3
366  1639.0  122.000000  Category      3
367  1998.0  128.000000  Category      3

[368 rows x 4 columns]

In [42]:
data1 = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'], 
        'Age':[27, 24, 22, 32], 
        'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'], 
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']} 


data2 = {'Name':['Abhi', 'Ayushi', 'Dhiraj', 'Hitesh'], 
        'Age':[17, 14, 12, 52], 
        'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'], 
        'Qualification':['Btech', 'B.A', 'Bcom', 'B.hons']} 

df = pd.DataFrame(data1,index=[0, 1, 2, 3])

df1 = pd.DataFrame(data2, index=[4, 5, 6, 7])

print(df, "\n\n", df1)

     Name  Age    Address Qualification
0     Jai   27     Nagpur           Msc
1  Princi   24     Kanpur            MA
2  Gaurav   22  Allahabad           MCA
3    Anuj   32    Kannuaj           Phd

      Name  Age    Address Qualification
4    Abhi   17     Nagpur         Btech
5  Ayushi   14     Kanpur           B.A
6  Dhiraj   12  Allahabad          Bcom
7  Hitesh   52    Kannuaj        B.hons

In [43]:
frames = [df, df1]
res1 = pd.concat(frames)
res1

     Name  Age    Address Qualification
0     Jai   27     Nagpur           Msc
1  Princi   24     Kanpur            MA
2  Gaurav   22  Allahabad           MCA
3    Anuj   32    Kannuaj           Phd
4    Abhi   17     Nagpur         Btech
5  Ayushi   14     Kanpur           B.A
6  Dhiraj   12  Allahabad          Bcom
7  Hitesh   52    Kannuaj        B.hons

In [44]:
df_new = pd.DataFrame(data1,index=[0, 1, 2, 3])

df1 = pd.DataFrame(data2, index=[2, 3, 6, 7]) 

print(df, "\n\n", df1) 


res2 = pd.concat([df, df1], axis=1, join='inner')


res2

     Name  Age    Address Qualification
0     Jai   27     Nagpur           Msc
1  Princi   24     Kanpur            MA
2  Gaurav   22  Allahabad           MCA
3    Anuj   32    Kannuaj           Phd

      Name  Age    Address Qualification
2    Abhi   17     Nagpur         Btech
3  Ayushi   14     Kanpur           B.A
6  Dhiraj   12  Allahabad          Bcom
7  Hitesh   52    Kannuaj        B.hons

     Name  Age    Address Qualification    Name  Age Address Qualification
2  Gaurav   22  Allahabad           MCA    Abhi   17  Nagpur         Btech
3    Anuj   32    Kannuaj           Phd  Ayushi   14  Kanpur           B.A

In [45]:
# Define a dictionary containing employee data 
data1 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'], 
        'Age':[27, 24, 22, 32],} 
   
# Define a dictionary containing employee data 
data2 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'], 
        'Qualification':['Btech', 'B.A', 'Bcom', 'B.hons']} 
 
# Convert the dictionary into DataFrame  
df = pd.DataFrame(data1)
 
# Convert the dictionary into DataFrame  
df1 = pd.DataFrame(data2) 
  
 
print(df, "\n\n", df1) 

res = pd.merge(df, df1, on='key')
res

  key    Name  Age
0  K0     Jai   27
1  K1  Princi   24
2  K2  Gaurav   22
3  K3    Anuj   32

   key    Address Qualification
0  K0     Nagpur         Btech
1  K1     Kanpur           B.A
2  K2  Allahabad          Bcom
3  K3    Kannuaj        B.hons

  key    Name  Age    Address Qualification
0  K0     Jai   27     Nagpur         Btech
1  K1  Princi   24     Kanpur           B.A
2  K2  Gaurav   22  Allahabad          Bcom
3  K3    Anuj   32    Kannuaj        B.hons

In [46]:
# Define a dictionary containing employee data 
data1 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'key1': ['K0', 'K1', 'K0', 'K1'],
         'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'], 
        'Age':[27, 24, 22, 32],} 
   
# Define a dictionary containing employee data 
data2 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'key1': ['K0', 'K0', 'K0', 'K0'],
         'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'], 
        'Qualification':['Btech', 'B.A', 'Bcom', 'B.hons']} 
 
# Convert the dictionary into DataFrame  
df = pd.DataFrame(data1)
 
# Convert the dictionary into DataFrame  
df1 = pd.DataFrame(data2) 
  
 
print(df, "\n\n", df1) 

# merging dataframe using multiple keys
res1 = pd.merge(df, df1, on=['key', 'key1'])
 
res1

  key key1    Name  Age
0  K0   K0     Jai   27
1  K1   K1  Princi   24
2  K2   K0  Gaurav   22
3  K3   K1    Anuj   32

   key key1    Address Qualification
0  K0   K0     Nagpur         Btech
1  K1   K0     Kanpur           B.A
2  K2   K0  Allahabad          Bcom
3  K3   K0    Kannuaj        B.hons

  key key1    Name  Age    Address Qualification
0  K0   K0     Jai   27     Nagpur         Btech
1  K2   K0  Gaurav   22  Allahabad          Bcom